[package]
name = "mockall"
version = "0.8.0"
authors = ["Alan Somers <asomers@gmail.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
repository = "https://github.com/asomers/mockall"
categories = ["development-tools::testing"]
keywords = ["mock", "mocking", "testing"]
documentation = "https://docs.rs/mockall"
edition = "2018"
description = """
A powerful mock object library for Rust.
"""
exclude = [
  "/tools/*"
]

[package.metadata.docs.rs]
features = ["nightly"]

[features]
# Extra features for the nightly compiler only
nightly = ["mockall_derive/nightly_derive"]

[dependencies]
cfg-if = "0.1.6"
downcast = "0.10"
fragile = "1.0"
lazy_static = "1.1"
predicates = "1.0.2"
predicates-tree = "1.0"
mockall_derive = { version = "= 0.8.0", path = "../mockall_derive" }

[dev-dependencies]
async-trait = "0.1.38"
futures = "0.3"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"

[[example]]
name = "serde"
crate-type = ["lib"]
