[package]
name = "mockall_derive"
version = "0.4.0"
authors = ["Alan Somers <asomers@gmail.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/asomers/mockall"
categories = ["development-tools::testing"]
keywords = ["mock", "mocking", "testing"]
documentation = "https://docs.rs/mockall_derive"
edition = "2018"
description = """
Procedural macros for Mockall
"""

[lib]
proc-macro = true

[package.metadata.docs.rs]
features = ["extra-docs"]

[features]
# Extra features for the nightly compiler only
nightly = ["proc-macro2/nightly"]
# For building documentation only; no functional change to the library.
extra-docs = []

[dependencies]
cfg-if = "0.1.6"
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "1.0.3", features = ["extra-traits", "full"] }

[dev-dependencies]
pretty_assertions = "0.5"
